<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/index_style.css' />
</head>

<body>

  <nav class="nav_superior">
    <div>
      <a href="/"><img src="/images/salao.jpg" alt=""></a>
    </div>
    <div class="div_superior">
      <ul>
        <li><a href="">Sobre</a></li>
        <li><a href="">Funcionalidade</a></li>
        <li><a href="">Planos</a></li>
        <li><a href="">Cases</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/login">Área do cliente</a></li>
      </ul>
    </div>
  </nav>

  <div class="banner_superior">
    <div class="texto_banner_superior">
      <h1>Gerencie o seu <strong>salão de beleza!</strong></h1>
      <div class="itens_texto_banner_superior">
        <span>Cadastre seus clientes e mantenha o contato com eles</span>
        <span>Crie, gerencie e visualize o agendamento dos seus clientes</span>
        <span>Controle os estoques do seu salão e não deixe faltar nada</span>
      </div>
      <a href="">Conheça mais</a>
    </div>
    <div class="div_image_banner_superior">
      <img class="image_salao" src="/images/salao.jpg" alt="">
    </div>
  </div>




</body>

</html>