<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/index_style.css' />
</head>

<body>

  <nav class="nav_superior">
    <div>
      <a href="/"><img src="/images/salao.jpg" alt=""></a>
    </div>
    <div class="div_superior">
      <ul>
        <li><a href="">Sobre</a></li>
        <li><a href="">Funcionalidade</a></li>
        <li><a href="">Planos</a></li>
        <li><a href="">Cases</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="/login">Área do cliente</a></li>
      </ul>
    </div>
  </nav>

  <div class="banner_superior">
    <div class="texto_banner_superior">
      <h1>Gerencie o seu <strong>salão de beleza!</strong></h1>
      <div class="itens_texto_banner_superior">
        <span>Cadastre seus clientes e mantenha o contato com eles</span>
        <span>Crie, gerencie e visualize o agendamento dos seus clientes</span>
        <span>Controle os estoques do seu salão e não deixe faltar nada</span>
      </div>
      <a href="">Conheça mais</a>
    </div>
    <div class="div_image_banner_superior">
      <img class="image_salao" src="/images/salao.jpg" alt="">
    </div>
  </div>

  <div class="funcionalidades">
    <div>
      <ul>
        <li>
          <div><img src="/images/skin-care.png" alt="" width="80px"></div>
          <div><h2>CONTROLE DE AGENDAMENTO</h2></div>
          <div><span>Agende seus atendimentos, controle os horáiros, verifique o serviço e o horário de cada cliente.</span></div>
        </li>
        <li>
          <div><img src="/images/hair-dryer.png" alt="" width="80px"></div>
          <div><h2>CONTROLE SEUS NÚMEROS</h2></div>
          <div><span>Com o dashboard você consegue acompanhar dados como total de agendamentos, finanças, estoque e clientes.</span></div>
        </li>
        <li>
          <div><img src="/images/makeup-brushes.png" alt="" width="80px"></div>
          <div><h2>CONTROLE SEU ESTOQUE</h2></div>
          <div><span>Adicione produtos na sua lista, controle a quantidade e ative gatilhos de aviso quando algo estiver acabando.</span></div>
        </li>
      </ul>
    </div>
  </div>


  <footer>
    <a href="https://www.flaticon.com/free-icons/skincare" target="_blank" title="skincare icons" style="color: rgb(223, 223, 223);">Skincare icons created by Ria Fitriana - Flaticon</a>
  </footer>


</body>

</html>