<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index_style.css">
</head>

<body>

    <div class="div_principal">
        <div class="div_esquerda">
        </div>

        <div class="div_form">
            <h2>Acesse a sua conta</h2>

            <form action="/login/password" method="post">
                <section>
                    <label for="username">Usuário</label>
                    <input id="username" name="username" type="text" autocomplete="username" required>
                </section>
                <section>
                    <label for="current-password">Senha</label>
                    <input id="current-password" name="password" type="password" autocomplete="password" required>
                </section>
                <section>
                    <button type="submit">Sign in</button>
                </section>
            </form>

            <div class="signup">
                <span>Ainda não tem cadastro? <a href="/signup">Clique aqui</a></span>
            </div>
        </div>
    </div>

</body>

</html>