<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/stylesheets/index_style.css">

</head>

<body>
    <div class="div_principal">
        <div class="div_esquerda">
            <span>Instruções de cadastro:</span>
            <br>
            <ul>
                <li>Requisitos de <strong>senha</strong>:</li>
                <li>• mínimo 8 caracteres;</li>
                <li>• letas maiúsculas;</li>
                <li>• letas minúsculas;</li>
                <li>• números;</li>
                <li>• caracter especial (@ ! #).</li>
            </ul>
            <br>
            <ul>
                <li>Digite o <strong>email</strong> que você mais utiliza. É por ele que vamos nos comunicar.</li>
            </ul>
            <br>
            <ul>
                <li>Digite o <strong>nome da sua empresa</strong> conforme está no contrato social.</li>
            </ul>
        </div>

        <div class="div_form">
            <h2>Preencha com seus dados</h2>

            <form action="/signup" method="post">
                <section>
                    <label for="nome">Seu nome completo</label>
                    <input id="nome" name="nome" type="text" autocomplete="nome" placeholder="João Dutra" required>
                </section>
                <section>
                    <label for="cnpj">CNPJ</label>
                    <input id="cnpj" name="cnpj" type="text" placeholder="00.000.000/0001-00" required>
                </section>
                <section>
                    <label for="contato">Contato</label>
                    <input id="contato" name="contato" type="text" autocomplete="contato" placeholder="11978451285" required>
                </section>
                <section>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" autocomplete="email" required>
                </section>
                <section>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" autocomplete="password" required>
                </section>
                <section>
                    <button type="submit">Sign up</button>
                </section>
            </form>
        </div>
    </div>
</body>

</html>