@import url(./colors.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.nav_superior div a img {
    width: 50px;
    border-radius: 6px;
}

/* PÁGINA HOME */

/* cabeçalho */

.nav_superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--cor-principal);
    border-bottom: 1px solid var(--cor-borders);
}

.div_superior ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    font-size: 20px;
}

.div_superior ul li a {
    color: var(--cor-fonte-menus);
}

.div_superior ul li a:hover {
    border-bottom: 2px solid var(--cor-borders);
}

/* banner principal */

.banner_superior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 80px;
    height: 70vh;
    background-color: var(--cor-principal);
}

.texto_banner_superior {
    margin-top: 20px;
}

.texto_banner_superior h1 {
    font-size: 48px;
}

.texto_banner_superior a {
    font-size: 22px;
}

.itens_texto_banner_superior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_image_banner_superior {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens_texto_banner_superior {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 40px 0;
    font-size: 28px;
    color: var(--cor-fonte-destaques);
}

.itens_texto_banner_superior span {
    margin: 20px 0;
}

.div_image_banner_superior img {
    width: 100%;
    border-radius: 20px;
}

/* banner funcionalidades */

.funcionalidades {
    margin: 80px 0px 100px 0px;
    border-top: 1px solid var(--cor-borders);
}

.funcionalidades div ul {
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: var(--cor-background);
}

.funcionalidades div ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 60px;
    border-radius: 20px;
    background-color: var(--cor-destaque);
    padding: 20px;
}

.funcionalidades div ul li div img {
    margin: 20px;
}

.funcionalidades div ul li div h2 {
    padding: 20px 0px 20px 0px;
}

.funcionalidades div ul li div span {
    font-size: 20px;   
}

/* footer */

footer {
    height: 200px;
    background-color: black;
}

/* PÁGINA DE LOGIN e PÁGINA DE SIGNUP*/


.div_principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.div_esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    height: 100%;
    background-color: var(--cor-destaque);
    color: rgb(131, 131, 131);
}

.div_esquerda ul {
    width: 50%;
}

.div_esquerda span {
    text-decoration:underline;
    color: rgb(77, 77, 77);
    margin-top: 20px;
}

.div_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-color: var(--cor-background);
}

.div_form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.div_form form {
    border: 1px solid green;
    padding: 60px 40px;
    border: none;
    border-radius: 30px;
    background-color: var(--cor-destaque);
}

.div_form form section {
    display: flex;
    flex-direction: column;
}

.div_form form section label {
    font-size: 18px;
    margin-bottom: 6px;
}

.div_form form section input {
    height: 40px;
    width: 300px;
    margin-bottom: 30px;
    padding-left: 8px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 12px;
    font-size: 18px;
}

.div_form form section input:hover {
    border: 2px solid rgba(155, 120, 190, 0.562);
}

.div_form form section button[type='submit'] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid var(--cor-borders);
    border-radius: 26px;
    margin-top: 20px;
    background-color: var(--cor-button);
}

.div_form form section button[type='submit']:hover {
    background-color: var(--cor-button-hover);
}

.div_form .signup {
    margin-top: 20px;
    font-size: 18px;
}


/* PÁGINA DE CRIAÇÃO DE CONTA */
