<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <%- include('module_panel.ejs') %>

        <h1>Informações</h1>
        <div class="div_dashboard_infos">
            <div class="card">
                <div class="titulo">
                    <p>Clientes</p>
                </div>
                <div class="info">
                    <p>1.658</p>
                </div>
            </div>
            <div class="card">
                <div class="titulo">
                    <p>Agendamentos</p>
                </div>
                <div class="info">
                    <p>328</p>
                </div>
            </div>
            <div class="card">
                <div class="titulo">
                    <p>Canlemanetos</p>
                </div>
                <div class="info">
                    <p>11</p>
                </div>
            </div>           
        </div>

        <h1>Finanças</h1>
        <div class="div_dashboard_financas">
            <div class="card">
                <div class="titulo">
                    <p>Mensal</p>
                </div>
                <div class="info">
                    <p>R$ 22.320,00</p>
                </div>
            </div>
            <div class="card">
                <div class="titulo">
                    <p>Anual</p>
                </div>
                <div class="info">
                    <p>R$ 127.130,00</p>
                </div>
            </div>
        </div>


    </div>

</body>

</html>