<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="div_painel">
    <div class="header">
        <ul>
            <li><span>YourCRM</span></li>
            <li><span>Usuário: user_teste</span></li>
            <li><a href="">Ajuda</a></li>
        </ul>
    </div>
    <div class="painel">
        <ul>
            <div>
                <li>
                    <span class="material-symbols-outlined">dashboard_customize</span>
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
            </div>
            <div>
                <li>
                    <span class="material-symbols-outlined">calendar_month</span>
                    <a href="/admin/calendario">Calendário</a>
                </li>
            </div>
            <div>
                <li>
                    <span class="material-symbols-outlined">group_add</span>
                    <a href="/admin/cadastrar">Cadastrar</a>
                </li>
            </div>
            <div>
                <li>
                    <span class="material-symbols-outlined">calendar_add_on</span>
                    <a href="/admin/agendamento">Agendamento</a>
                </li>
            </div>
            <div>
                <li>
                    <span class="material-symbols-outlined">toc</span>
                    <a href="/admin/historico">Histórico</a>
                </li>
            </div>
            <div>
                <li>
                    <span class="material-symbols-outlined">inventory</span>
                    <a href="/admin/servicos">Serviços</a>
                </li>
            </div>
            <div>
                <li>
                    <span class="material-symbols-outlined">logout</span>
                    <a href="/logout">Sair</a>
                </li>
            </div>
        </ul>
    </div>
    <main class="main">