<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('module_panel.ejs') %>

    <div>
        <div class="comandos_superior">
            <button onclick="showHidden()"><span id="showHiddenButton" class="material-symbols-outlined">visibility</span></button>
        </div>

        <div class="div_form" id="div_form">
            <form action="" method="post">
                <section class="section1">
                    <div>
                        <label for="">Código (SKU)</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">NCM</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Serviço</label>
                        <input type="text" name="servico">
                    </div>
                </section>
                <section>
                    <div>
                        <label for="">Preço</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Preço de custo</label>
                        <input type="text">
                    </div>
                </section>
                <section>
                    <div>
                        <label for="">Funcionário</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Disponibilidade do Produto</label>
                        <input list="disponibilidade" name="disponibilidade" value="Disponível">
                            <datalist id="disponibilidade">
                                <option value="Disponível">
                                <option value="Indisponível">
                            </datalist>
                    </div>
                    <div>
                        <label for="">Categoria</label>
                        <input type="text">
                    </div>
                </section>
                <section>
                    <div>
                        <label for="">Descrição (opcional)</label>
                        <textarea name="descricao" id=""  rows="2"></textarea>
                    </div>
                </section>
                <section>
                    <input type="submit" value="Enviar">
                </section>
            </form>
        </div>
    </div>

    <table>
        <tr>
            <th>NCM</th>
            <th>Serviço</th>
            <th>Preço</th>
            <th>Preco Custo</th>
            <th>Funcionário</th>
            <th>Disponibilidade</th>
        </tr>
        <tr>
            <td>46582456</td>
            <td>Corte cabelo feminio</td>
            <td>120</td>
            <td>60</td>
            <td>Alex</td>
            <td>Disponível</td>
        </tr>
    </table>
        
    <script>
        function showHidden() {
            let divForm  = document.getElementById('div_form');
            let button = document.getElementById('showHiddenButton');

            if(divForm.style.display === 'flex') {
                divForm.style.display = 'none';
                button.textContent = 'visibility';
            } else {
                divForm.style.display = 'flex';
                button.textContent = 'visibility_off';
            }
        }
    </script>

</body>

</html>